body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

#welcome-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav
{
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #B8CAFE;
}

figcaption {
  font-size: 9px;
  text-align: center;
}